@media (max-width: 480px) {

    .bbody {
        width: 600px;
    }

    //<!-- -----header-top----- -->
    .wrapper {
        width: 280px;
    }

    .bar {
        padding: 10px 0px;
    }

    a.phone {
        font-size: 14px;
    }

    .bottom-menu li {
        padding: 0 3px;
    }

    .social-menu {
        width: 66px;
        padding-left: 0px;
    }

    .bottom-menu a {
        font-size: 14px;
    }

    select {
        width: 49px;
        padding: 8px 0px;
    }

    option {
        width: 75px;
        padding: 0px;
        text-align: left;
    }

    .logo {
       font-size: 60px;
    }

    //<!-- ----sale-2-girls-----  -->
    .main-girls {
        background: url(../img/2girls4.jpg);
        background-position-x: 50%;
        background-repeat: no-repeat;
    }

    .sale {
        height: 160px;
        width: 160px;
        padding: 10px 25px;
        margin-top: 110px;
    }

    .sale img {
        bottom: 49px;
    }

    .SHOP_NOW input {
        margin-top: 25px;
    }

    .rombss {
        margin: 40px 0px;
    }

    .arrow-left,  .arrow-right {
        top: 190px;
   }

    .arrow-left a,  .arrow-right a {
        font-size: 35px;
    }

    /* <!-- ------support-------- --> */
     .general {
        width: 280px;
        padding: 0px 0px 20px;
    }

    .left, .center, .right {
        width: 280px; 
    }
        
    .left:before, .left:after,
    .center:before, .center:after, 
    .right:before, .right:after {
        border-left: 140px solid transparent;
        border-right: 140px solid transparent;
    }

    .text-up  {
        font-size: 20px;
    }

    // **********************
    .title {
        font-size: 24px;
    }

    .bej-romb {
       margin: 0px 15px;
    }

    /* <!------- footer ---------> */  
    .footer { 
        width: 280px;
    }

    .footer ul {
        margin-top: 30px;
    }

    .shops {
        margin: 25px 25px 0px;
    }

    .stay {
        margin: 15px 0px 0px;
    }   
    
    .stay span,  .stay p {
        margin-left: 25px;
    }

    .footer-social-menu {
        width: 260px;
        padding: 0px 10px;
    }

    .footer-social-menu li {
        line-height: 45px;
        width: 45px;
    }

    .footer-down { 
        padding: 20 0 120px;  
        width: 280px;
    }

    .sub {
        width: 80px;
        font-size: 11px;
    }

    .field {
        width: 275px;
    }

    .enter {
        width: 169px;
    }

    .All-Rights {
        padding-left: 20px;
    }

    .down-cards {
        padding: 0px 0px 40px 20px;
    }

    .button {
        padding-right: 20px;
    }
}