@charset "UTF-8";
.bbody {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header-top {
  background: #f2f2f2;
  height: 38px;
}

.wrapper {
  width: 1290px;
  margin: 0 auto;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.phone {
  text-decoration: none;
  color: #000;
}

.phone i {
  padding: 0 10px;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
}

.top-menu li {
  padding: 0 30px;
  border-right: 1px solid #000;
}

.top-menu a:hover {
  contain: "";
  border-bottom: 1px solid #000;
}

.top-menu li:last-child {
  border-right: none;
}

.top-menu a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.mobile {
  display: none;
}

.header-bottom {
  height: 128px;
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 295px;
}

.bottom-menu li {
  padding: 0 13px;
}

.bottom-menu a {
  font-size: 18px;
  font-family: Playfair Display, serif;
  text-decoration: none;
  color: #000;
}

.bottom-menu a:hover {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

@font-face {
  /* подключаем шрифт из папки проекта */
  font-family: KrinkesDecorPERSONAL;
  src: url(../fonts/KrinkesDecorPERSONAL.ttf);
}

.logo {
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-size: 72px;
  text-decoration: none;
  color: #000;
  font-family: KrinkesDecorPERSONAL;
}

.social-menu {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px;
}

.social-menu li {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  /* кружочки */
  line-height: 30px;
  width: 30px;
  border: 2px solid #d9bf8f;
  border-radius: 50%;
}

.social-menu li:last-child {
  /* выпадающее меню без кружочка */
  border: none;
  /* поставить список на место, без сдвига вправо */
  width: 115px;
}

.social-menu a {
  color: #d9bf8f;
}

/************* hover ******************/
.social-menu li:hover {
  background: #f0975c;
}

.social-menu li:last-child:hover {
  background: none;
}

.social-menu li:hover a {
  color: #7b7671;
}

/**************** active *************/
.social-menu li:active {
  background: #7b7671;
}

.social-menu li:active a {
  color: #000;
}

/*****************************/
option {
  width: 115px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #242424;
  color: #fff;
  padding: 8px 0px 8px 30px;
}

select {
  background-color: #000;
  color: #fff;
  width: 115px;
  padding: 8px 0px 8px 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.main-girls {
  background: url(../img/2girls2.jpg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 692px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.girls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* !!! в макете 257рх, но визуально бОльше за счет паддинга, заменила на 200рх */
  height: 200px;
  width: 200px;
  border: 5px double #fff;
  padding: 28px;
  margin-top: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  position: relative;
}

.s1 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.s2 {
  font-size: 59px;
  color: #000;
  font-weight: 700;
}

.s3 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.s4 {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

.sale img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 204px;
  bottom: 85px;
}

.SHOP_NOW input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  width: 190px;
  background: #f09d66;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  margin-top: 50px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

/************* hover ******************/
.SHOP_NOW input:hover {
  background: #d9bf8f;
  color: #737373;
  font-weight: 900;
}

/*******************************/
.rombss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75px;
  margin: 80px 0px 75px;
}

.romb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
  background: #b2b2b2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.romb:hover {
  background: #000;
}

/*******************************/
.arrow-left {
  position: absolute;
  top: 283px;
  left: -30px;
  height: 52px;
}

.arrow-right {
  position: absolute;
  top: 283px;
  right: -30px;
  height: 52px;
}

.arrow-right a, .arrow-left a {
  color: #fff;
  font-size: 50px;
  font-weight: 100;
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  color: #fff;
  margin: 16px 0px;
}

.suppo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.general {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left {
  width: 400px;
  height: 100px;
  background: #d9bf8f;
  position: relative;
  margin: 50px 20px;
}

.left::before {
  content: "";
  border-bottom: 50px solid rgba(255, 255, 255, 0);
  border-left: 50px solid  #d9bf8f;
  border-right: 50px solid rgba(255, 255, 255, 0);
  border-top: 50px solid rgba(255, 255, 255, 0);
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 100%;
}

.center {
  display: none;
}

.center-black {
  width: 450px;
  height: 100px;
  background: #000;
  position: relative;
  margin: 50px;
}

.center-black::after {
  content: "";
  border-bottom: 50px solid black;
  border-left: 50px solid rgba(255, 255, 255, 0);
  border-right: 50px solid black transparent;
  border-top: 50px solid black;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: -50px;
}

.center-black::before {
  content: "";
  border-bottom: 50px solid  black;
  border-left: 50px solid  black transparent;
  border-right: 50px solid rgba(255, 255, 255, 0);
  border-top: 50px solid black;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 100%;
}

.right {
  width: 400px;
  height: 100px;
  background: #d9bf8f;
  position: relative;
  margin: 50px 20px;
}

.right::before {
  content: "";
  border-bottom: 50px solid rgba(255, 255, 255, 0);
  border-right: 50px solid #d9bf8f;
  border-left: 50px solid rgba(255, 255, 255, 0);
  border-top: 50px solid rgba(255, 255, 255, 0);
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: -100px;
}

.supp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.supp img {
  width: 48px;
  height: 48px;
  margin: 31px 27px 31px 0px;
}

.ll {
  padding-left: 45px;
}

.cc {
  margin: 0px;
}

.rr {
  padding-right: 55px;
}

.text-up {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}

.text-down {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff;
}

.sign-in {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 375px;
  height: 260px;
  background: #fff;
  color: red;
  font-size: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 220px;
  left: 525px;
  opacity: 0;
}

.sign {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  color: #f09d66;
  font-family: 'Lato', sans-serif;
}

.sign-in input {
  background: #ebebeb;
  color: #999;
  border: 1px solid #ebebeb;
  margin: 20px 30px 0;
  font-style: italic;
  border-left: 6px solid  #f09d66;
  padding-left: 10px;
  line-height: 37px;
  font-size: 14px;
}

.botton input {
  width: 77px;
  height: 30px;
  background: #f09d66;
  margin-left: 266px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

.botton p {
  margin: 0 auto;
}

.keep {
  color: #ebebeb;
  font-style: italic;
}

.keep i {
  color: #999;
  background: #ebebeb;
}

.sign-in p {
  margin: 0px 30px;
}

.bej-romb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  width: 15px;
  height: 15px;
  background: #d9bf8f;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0px 45px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Playfair Display, serif;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.title p {
  color: #000;
}

hr {
  width: 400px;
  color: #d7d7d7;
  size: 1px;
}

.colection {
  border: 1px solid #d7d7d7;
  margin: 0 auto;
  height: 732px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px;
  margin-bottom: 45px;
}

.photo {
  display: block;
  position: relative;
}

.photo:hover .photo-shadow:hover {
  opacity: 0.4;
}

.photo:hover .card {
  border-bottom: 44px solid #f0975c;
}

.photo:hover .heart {
  opacity: 1;
}

.photo-shadow {
  width: 300px;
  height: 348px;
  background: #000;
  z-index: auto;
  bottom: 0;
  position: absolute;
  opacity: 0;
}

.card {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  /* трапеция */
  border-bottom: 44px solid #000;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 130px;
  bottom: 1px;
}

.heart {
  position: absolute;
  background: url(../img/white-heart.png);
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 147px;
  opacity: 0;
}

.photo p {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 14px;
}

.rombss-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rombsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75px;
  margin: 0px 0px 30px;
}

/* ********************************* */
.cicle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #feab12;
  left: 16px;
  top: 17px;
}

@-webkit-keyframes ccicle {
  from {
    background: #feab12;
  }
  to {
    background: red;
  }
}

@keyframes ccicle {
  from {
    background: #feab12;
  }
  to {
    background: red;
  }
}

.photo:hover .cicle {
  -webkit-animation-name: ccicle;
          animation-name: ccicle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 6;
          animation-iteration-count: 6;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.pro {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  position: absolute;
  font-size: 22px;
  left: 29px;
  top: 36px;
}

.procent {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  position: absolute;
  font-size: 11px;
  left: 59px;
  top: 42px;
}

/* <!------- footer ---------> */
.black-footer {
  background: #141414;
  margin: 0 auto;
  padding: 0;
}

.footer {
  padding: 68px 0 120px;
  width: 1290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.footer span {
  text-transform: uppercase;
  color: #fff;
}

.footer ul {
  margin-top: 54px;
}

.footer li {
  margin-bottom: 16px;
}

.footer a, p {
  color: #737373;
  text-decoration: none;
}

.footer p {
  margin-top: 54px;
}

.footer-social-menu {
  /* строка для кружочков */
  width: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social-menu li {
  /* кружочки */
  line-height: 50px;
  width: 50px;
  font-size: 24px;
  background: #fff;
  border-radius: 50%;
}

.footer-social-menu li {
  /* строка для иконок */
  display: inline-block;
  text-align: center;
}

.footer-social-menu a {
  /* цвет иконок */
  color: #000;
}

/************ hover **********************/
.footer-social-menu li:hover {
  background: #323030;
}

.footer-social-menu li:hover a {
  color: #fff;
}

/************ active *********************/
.footer-social-menu li:active a {
  color: #7b7671;
}

.footer-social-menu li:active {
  background: #f0975c;
}

form {
  margin-top: 53px;
}

.field {
  border: 2px solid #323030;
  width: 360px;
}

.enter {
  color: #737373;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background: #141414;
  width: 234px;
  border: #141414;
  padding-left: 20px;
  line-height: 40px;
}

.sub {
  width: 100px;
  background: #323030;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  border: #141414;
  line-height: 35px;
}

.footer-down {
  padding: 20 0 120px;
  width: 1290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  color: #737373;
}

.All-Rights {
  padding-left: 65px;
  line-height: 18px;
  font-size: 11px;
}

.button {
  margin-right: 50px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: #000;
}

.button a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.down-cards {
  padding: 0px 0px 120px 65px;
}
/*# sourceMappingURL=style51.css.map */