body {
    transition: all linear 2s;
}

.bbody {
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-position-x: 50%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

//<!-- -----header-top----- -->
.header-top {
    background:  #f2f2f2;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    width: 1290px;
    margin: 0 auto;
    background-position-x: 50%;
    background-position: center;
    background-size: cover;
    // overflow: hidden;
} 

.bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.phone {
    text-decoration: none;
    color: #000;
    i {
        padding: 0 10px;
    }
}

.top-menu {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    z-index: 50;

    li {
        padding: 0 30px;
        border-right: 1px solid #000;
    }

    li:last-child {
        border-right: none;
    } 

    a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
    }

    a:hover {
        contain: "";
        border-bottom: 1px solid #000;
        cursor: pointer;
    }
}

.mobile {
    display: none;
}

//<!-- -------header-bottom------- -->
.header-bottom {
    height: 128px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 295px;
    z-index: 50;
    li {
        padding: 0 13px;
        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            background: #d7d7d7;
            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
        }
    }
    a {
        font-size: 18px;
        font-family: Playfair Display, serif;
        text-decoration: none;
        color: #000;
    }
    a:hover {
        cursor: pointer;
    }
}

// ---- dropdawn bottom-menu ----
.sub-menu{
    display: none;
    position: absolute;
    list-style: none;
    background: #d7d7d7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 130px;
    line-height: 24px;
    z-index: 15;
    margin-top: 2px;
    a {
        font-size: 15px;
    }
}

.has-sub{
    position: relative;
}

.has-sub:hover .sub-menu{
    display: block;
}

@font-face {
    /* подключаем шрифт из папки проекта */
    font-family: KrinkesDecorPERSONAL;
    src: url(../fonts/KrinkesDecorPERSONAL.ttf)
}

.logo {
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 50%);
    font-size: 72px;
    text-decoration: none;
    color: #000;
    font-family: KrinkesDecorPERSONAL;
}

.social-menu {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 340px;
    z-index: 50;
    li {
        display: inline-block;
        text-align: center;
        font-size: 18px;
        /* кружочки */
        line-height: 30px;
        width: 30px;
        border: 2px solid #d9bf8f;
        border-radius: 50%;
    }
    li:last-child {
        /* выпадающее меню без кружочка */
        border: none;
        width: 115px;
    }
    a {
        color: #d9bf8f;
    }
}

/************* hover ******************/
.social-menu li:hover {
   background: #f0975c;
   cursor: pointer;

    li:last-child:hover {
    background: none;
    }
    li:hover a {
        color: #7b7671;
        cursor: pointer;
    }
}

/**************** active *************/ 
.social-menu li:active {
    background: #7b7671;
    cursor: pointer;

    li:active a {
        color: #000;
        cursor: pointer;
    }
}
/*****************************/ 

option {
    width: 115px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #242424;
    color: #fff;
    padding: 8px 0px 8px 30px;
}

select {
    background-color: #000;
    color: #fff;
    width: 115px;
    padding: 8px 0px 8px 30px;
    font-size: 12px;
    text-transform: uppercase;
}

//<!-- ----sale-2-girls----- slider -->
.main-girls {
    margin: 0 auto;
    width: 100%;
    height: 50em;
    background-position-x: 50%;
    overflow: hidden;
    background-position: center;
}

// slider
.slider {
    position: relative;
    z-index: 0; 
    overflow-x: hidden;
}

.slider-tablet {
    display: none;
}

.slider-mobile {
    display: none;
}
// -----------------------

.girls {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
    z-index: 30;  
}

.sale {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 15vw;
    border: 0.3em double #fff;
    padding: 1.5vw;
    margin-top: 25vw;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.s-one {
    font-size: 1.5vw;
    color: #fff;
    font-weight: 700;
}

.s-two {
    // font-size: 3.5em;
    font-size: 5vw;
    color: #000;
    font-weight: 700;
}

.s-three {
    font-size: 1.5vw;
    color: #fff;
    font-weight: 400;
}

.s-four {
    font-size: 1.5vw;
    color: #000;
    font-weight: 400;
}

.sale img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 15vw;
    bottom: 5.2vw;
}

.SHOP_NOW input {
    display: flex;
    width: 15vw;
    height: 3.8vw;
    background: #f09d66;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    margin-top: 2vw;
    transition: color 1s;
    z-index: 70;
}
/************* hover ******************/
.SHOP_NOW input:hover {
    background: #d9bf8f;
    color: #737373;
    font-weight: 900;
    cursor: pointer;
}
/*******************************/

//<!-- ------pomb on 2girls----- -->
.rombss {
    display: flex;
    position: absolute;
    justify-content: space-between;
    //  настройка ромбиков +++
    width: 15vw;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
    bottom: 1vw;
    z-index: 45;
    li {
        transform: rotate(45deg);
    } 
}

//<!-- -----slider------- -->
.arrow-left {
    position: absolute;
    top: 283px;
    left: 30px;
    height: 52px; 
}

.arrow-right {
    position: absolute;
    top: 283px;
    right: 30px;
    height: 52px;
}

.arrow-right a, .arrow-left a {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
}

//<!-- ------support-------- -->
.support {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 1290px;
    margin: 0 auto;
    color: #fff;
    margin: 16px 0px;
}

.suppo-wrapper {
    display: flex;
    justify-content: space-between;
}

// ******** fon for support *********/ 
.general {
    height: 200px;
    display: flex;
    justify-content: space-between;
}

// ************** left *****/
.left {
    width: 400px;
    height: 100px;
    background: #d9bf8f;
    position: relative;
    margin: 50px 20px;

    &::before {
        content: "";
        border-bottom: 50px solid rgba(255, 255, 255, 0);
        border-left: 50px solid  #d9bf8f;
        border-right: 50px solid rgba(255, 255, 255, 0);
        border-top: 50px solid rgba(255, 255, 255, 0);
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0px;
        left: 100%;
    }
}

// *************** center ******************/
.center {
    display: none;
}

.center-black {
    width: 450px;
    height: 100px;
    background: #000;
    position: relative;
    margin: 50px;

    &::after {
        content: "";
        border-bottom: 50px solid black;
        border-left: 50px solid  rgba(255, 255, 255, 0);
        border-right: 50px solid black transparent;
        border-top: 50px solid black;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0px;
        left: -50px;
    }

    &::before {
        content: "";
        border-bottom: 50px solid  black;
        border-left: 50px solid  black transparent;
        border-right: 50px solid rgba(255, 255, 255, 0);
        border-top: 50px solid black;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0px;
        left: 100%;    
    }
}

// ***************** right **********************/
.right {
    width: 400px;
    height: 100px;
    background: #d9bf8f; 
    position: relative;
    margin: 50px 20px;

    &::before {
        content: "";
        border-bottom: 50px solid rgba(255, 255, 255, 0);
        border-right: 50px solid #d9bf8f;
        border-left: 50px solid rgba(255, 255, 255, 0);
        border-top: 50px solid rgba(255, 255, 255, 0);
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0px;
        left: -100px;       
    }
}
//*********************/

//************** text for support ***********/
.supp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.supp img {
    width: 48px;
    height: 48px;
    margin: 31px 27px 31px 0px;
}

.ll {
    padding-left: 45px;
}

.cc {
    margin: 0px;
}

.rr {
    padding-right: 55px;
}

.text-up {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}

.text-down {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
}

// <!-- summer collection -->  
.bej-romb {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 15px;
    height: 15px;
    background: #d9bf8f;
    transform: rotate(45deg);
    margin: 0px 45px;
}

.title {
    display: flex;
    justify-content: center;
    font-family:Playfair Display, serif;
    font-size: 30px;
    align-items: center;
    margin-bottom: 60px;

    p {
        color: #000;
    }
}

// .title p {
//     color: #000;
// }

hr {
    width: 400px;
    color: #d7d7d7;
    size: 1px;
}

// --------Add to card------------------ */
.colection {
    border: 1px solid #d7d7d7;
    margin: 0 auto;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    margin-bottom: 45px;
}

//************** photo - hover ***************/
.photo {
    display: block;
    position: relative;
    margin: 10px 0;
}

.photo:hover .photo-shadow:hover {
    opacity: 0.4;
    cursor: pointer;
}

.photo:hover .card {
    border-bottom: 44px solid #f0975c;
    cursor: pointer;
}

.photo:hover .heart {
    opacity: 1;
    cursor: pointer;
}

.photo-shadow {
    width: 300px;
    height: 348px;
    background: #000;
    z-index: auto;
    bottom: 2px;
    position: absolute;
    opacity: 0;
}

.card {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /* трапеция */
    border-bottom: 44px solid #000;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 130px;
    bottom: 1px;
}

.heart {
    position: absolute;
    background: url(../img/white-heart.png);
    left: 50%;
    transform: translate(-50%);
    bottom: 147px;
    opacity: 0;
}

.photo p {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    left: 50%;
    transform: translate(-50%);
    bottom: 14px;
}

//<!-- romb for photo-collection -->
.rombss-photo {
    display: flex;
    justify-content: center;
}

.rombsis {
    display: flex;
    justify-content: space-between;
    width: 75px;
    margin: 0px 0px 30px;
}
/* ********************************* */

// -----------animation----------/
.cicle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #feab12;
    left: 16px;
    top: 17px;
}

// ********анимация на  желтый кружочек*******
@keyframes ccicle {
    from {background: #feab12;}
    to {background: red}
}

.photo:hover .cicle {
    animation-name: ccicle;
    animation-duration: 1s;
    animation-iteration-count: 6;
    animation-direction: alternate;  
}
//*************************

//  -----------text on yellow cicle-------/
.pro {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    position: absolute;
    font-size: 22px;
    left: 29px;
    top: 36px;
}

.procent {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    position: absolute;
    font-size: 11px;
    left: 59px;
    top: 42px;
}

/* <!------- footer ---------> */
.black-footer {
    background: #141414;
    margin: 0 auto;
    padding: 0;
}

.footer { 
    padding: 68px 0 120px ;  
    width: 1290px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.footer span {
    text-transform: uppercase; 
    color: #fff;
}

.footer ul {
    margin-top: 54px;
}

.footer li {
    margin-bottom: 16px;
}

.footer a, p {
    color:#737373;
    text-decoration: none;
}

.footer p {
    margin-top: 54px;
}

.footer-social-menu {
    /* строка для кружочков */
    width: 316px;
    display: flex;
    justify-content: space-between;
}

.footer-social-menu li {
    /* кружочки */
    line-height: 50px;
    width: 50px;
    font-size: 24px;
    background: #fff;
    border-radius: 50%;
}

.footer-social-menu li {
    /* строка для иконок */
    display: inline-block;
    text-align: center;
}

.footer-social-menu a {
    /* цвет иконок */
    color: #000;
}

/************ hover **********************/
.footer-social-menu li:hover {
    background: #323030;
    cursor: pointer;
 }

 .footer-social-menu li:hover a {
    color: #fff;
    cursor: pointer;
 }
 
 /************ active *********************/
 .footer-social-menu li:active a {
    color: #7b7671;
    cursor: pointer;
 }

 .footer-social-menu li:active {
    background: #f0975c;
    cursor: pointer;
 }
 //********************************/

 //<!------- footer-down --------->
form {
    margin-top: 53px;
}

.field {
    border: 2px solid #323030; 
    width: 360px;
}

.enter {
    color:#737373;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background:#141414;
    width: 234px;
    border: #141414;
    padding-left: 20px;
    line-height: 40px;
}

.sub {
    width: 100px;
    background: #323030;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    border: #141414;
    line-height: 35px;
}

.footer-down { 
    padding: 20 0 120px;  
    width: 1290px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    color:#737373;
}
    
.All-Rights {
    padding-left: 65px;
    line-height: 18px;
    font-size: 11px;
}

.button {
    bottom: 100px;
    right: 3vw;
    width: 40px;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.button a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

#toTop {
    display: none;
    position: fixed;
    z-index: 20;
}

.down-cards {
    padding: 0px 0px 120px 65px;
}

// -----mobile-menu-----
.mobile-menu {
    padding: 20px, 0;
    display: none;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: flex-start;
    background: #000;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    z-index: 30;

    hr {
        width: 100%;
    }

    a {
        color: #fff;
        text-transform: none;
        text-decoration: none;
        padding-left: 5%;
    }

    li {
        justify-content: flex-start;
    }   
    
    li:hover {
        background: #323030;
        padding-left: 25px;
    }
}

.close-mobile {
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 20px;
}
//********************************/

// -----mobile- sub-menu-----  
.sub-menu-mobile{
    display: none;
    position: absolute;
    list-style: none;
    background: #737373;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 150px;
    line-height: 30px;
    z-index: 15;
    top: 12%;
    left: 30%;
    margin-top: 2px;
}

.has-sub-mobile{
    position: relative;
}

.has-sub-mobile:hover .sub-menu-mobile {
    display: block;
}

//<!--  ----- modal -----  -->
.testModal{
    // затемнение экрана
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 30;
    position: fixed;
}

.sign-in {
    z-index: 60;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: 260px;
    width: 300px;
    background: #fff;
    font-size: 14px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 2vw;
    font-size: 20px;
    color: #f09d66;
}

#closeBtn {
    cursor: pointer;
}

.hovered {
    position: fixed;
    top: 0;
    left: 0;
}

.sign {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    color: #f09d66;
    font-family: 'Lato', sans-serif;
    padding-top: 30px;
}

.sign-in input {
    background: #ebebeb;
    color: #999;
    border: 1px solid #ebebeb;
    margin: 10px 0 0 30px;
    font-style: italic;
    border-left: 6px solid  #f09d66;
    padding-left: 10px;
    line-height: 37px;
    font-size: 14px;
    width: 230px;
}

.botton input {
    position: absolute;
    right: 2vw;
    width: 77px;
    height: 30px;
    background:  #f09d66;
   
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    cursor: pointer;
} 

.botton p {
    margin: 0 auto;
}

.keep {
    color: #ebebeb;
    font-style: italic;
}

.keep i {
    color: #999;
    background:#ebebeb;
}

.sign-in p {
    margin: 10px 30px;
}
//********************************/

